*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(68, 176, 215, 0.9);
    height: 100vh;
    font-family:'Times New Roman', Times, serif;
    border: 5px solid black;
}

.title{
    padding: 20px;
    color: rgb(15, 92, 63);
}

span{
    color: brown;
    font-style: italic;
}

.play{
    text-decoration:underline;
    text-transform: capitalize;
    font-style: italic;
    font-weight:500;
}
.container{
    margin: 0 0 10px 0;
    background-color: rgb(12, 105, 139, 0.9);
    padding: 10px 0;
    color: rgb(235, 227, 227, 0.6);
    border:1px solid black;
    border-radius: 10px;
}

.main-con .titles #Namechange{
    margin: 20px;
}

.main-con .titles + h2{
    margin: 10px;
}

.main-con #result{
    padding: 20px;
}

.main-con{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    text-align: center;
    background-color: rgb(148, 170, 40);
    color: rgb(14, 15, 14);
}

.main-con #guessno{
    text-align: center;
    border-color: none;
    cursor: pointer;
}
.main-con #guessno:hover{
    border:2px solid green;
}

.main-con #Check:hover{
    background-color: green;
    color: white;
}

.main-con #Restart:hover{
    background-color: brown;
    color: white;
    border-radius: 10px;
}

.input-box{
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}
